header {
    height: 100px;
    width: 30%;
    margin-left: 500px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    background-color: #bb5151;
    color: black;
    z-index: 1;
}
#header {
    float: center;
}
body {
    text-align: center;
    color: white;
}
form {
    margin-top: 30px;
}
input {
    width: 250px;
}
button {
    width: 175px;
    height: 50px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #bb5151;
}
.results {
    float: left;
    margin-left: 30px;
}
.controls {
    float: right;
    margin-right: 150px;
}
body {
    background-image: url("https://images.unsplash.com/photo-1544427920-c49ccfb85579?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2022&q=80");
}